* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  height: 100vh;
  background-color: #132743;
  color: #407088;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #ffcbcb;
  padding: 30px 50px;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.input {
  border: 1px solid rgb(157, 157, 157);
  border-radius: 5px;
  color: rgb(69, 69, 69);
  background-color: rgb(248, 252, 255);
  padding: 10px 25px 10px 15px;
  font-size: 16px;
}

.btn {
  border-radius: 8px;
  border: 1 px solid #132743;
  padding: 10px;
  cursor: pointer;
  background-color: #407088;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}